@font-face {
  font-family: "Bitter";
  src: url("./assets/fonts/Bitter/Bitter-VariableFont_wght.ttf");
}
body {
  margin: 0;
  font-family: "Arial" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F6F7F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carpet{
  height: 100vh;
  overflow: hidden;
}
.posabs{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.posfix{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
